<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.philipp.studienplaner">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

          <activity android:name="menu_activity">
               <intent-filter>
                   <action android:name="android.intent.action.MAIN"/>
                   <category android:name="android.intent.category.LAUNCHER"/>
             </intent-filter>
          </activity>
        <activity android:name="empfehlungen_activity">
        </activity>
        <activity android:name="module_inf_activity">
        </activity>
        <activity android:name="module_mi_activity">
        </activity>
        <activity android:name="notenschnitt_activity">
        </activity>

    </application>
</manifest>